.supplier-dialog {
  .edit-field {
    padding   : 0 1em;
    margin-top: 1em;
  }
}

.sale-detail {
  .row-edit {
    input {
      // padding   : 5px;
      text-align   : center;
    }
  }

  .unedit-row {
    cursor: pointer;
  }

  .edit-row {
    background-color: rgba($color: #000000, $alpha: 0.05);
  }

  .no-padding-select>div>div>div {
    min-width    : 100px;
    padding      : 5px;
    padding-right: 25px;
  }

  .no-padding-input {
    input {
      padding   : 5px;
      text-align: left;
      min-width : 50px;
    }
  }

  button+button {
    margin-left: 1em;
  }
}

.invoice-filter-dialog {
  .type-content {
    display        : flex;
    flex-direction : row;
    justify-content: space-between;
  }

  .list-date {
    display        : flex;
    flex-direction : row;
    justify-content: space-between;
  }
}